persistentVolumeClaim:
  enabled: true
  storageClassName: longhorn
  size: 5Gi
ingress:
  enabled: true
  ingressClassName: nginx-internal
  hosts:
    - "pihole.home"
serviceWeb:
  loadBalancerIP: 192.168.50.50
  annotations:
    metallb.universe.tf/allow-shared-ip: pihole-svc
  type: LoadBalancer
serviceDns:
  loadBalancerIP: 192.168.50.50
  annotations:
    metallb.universe.tf/allow-shared-ip: pihole-svc
  type: LoadBalancer
replicaCount: 1

podAnnotations:
  # Example below allows Prometheus to scape on metric port (requires pihole-exporter sidecar enabled)
  prometheus.io/port: "9617"
  prometheus.io/scrape: "true"

monitoring:
  sidecar:
    port: 9617
    image:
      repository: ekofr/pihole-exporter
      tag: v1.0.0
      pullPolicy: IfNotPresent
    resources:
      limits:
        memory: 128Mi
