files:
  server: /data/server-files
  user: /data/user-files

ingress:
  enabled: true
  className: nginx-internal
  hosts:
    - host: budget.sheeplet.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: actualbudget-tls
      hosts:
        - budget.sheeplet.com

volumes:
  - name: data
    persistentVolumeClaim:
      claimName: actualbudget-pvc

volumeMounts:
  - name: data
    mountPath: "/data"
