service:
  main:
    ports:
      http:
        port: 8191

ingress:
  main:
    enabled: true
    className: nginx-internal
    hosts:
      - host: flaresolverr.sheeplet.com
        paths:
          - path: /
            pathType: Prefix

# Enable metrics collection for Prometheus
serviceMonitor:
  main:
    enabled: true
    endpoints:
      - port: http
        scheme: http
        path: /metrics
        interval: 1m
        scrapeTimeout: 10s
