persistence:
  config:
    size: 1Gi
    storageClass: longhorn
    accessMode: ReadWriteOnce
    globalMounts:
      - path: /app/config
        readOnly: false

ingress:
  main:
    enabled: true
    className: nginx-internal
    hosts:
      - host: jellyseerr.sheeplet.com
        paths:
          - path: /
            pathType: Prefix
# probes:
#   startupProbe:
#     initialDelaySeconds: 30
