config:
  persistence:
    size: 1Gi
    accessModes:
      - ReadWriteOnce
    name: jellyseerr-config

ingress:
  enabled: true
  ingressClassName: nginx-internal
  hosts:
    - host: jellyseerr.sheeplet.com
      paths:
        - path: /
          pathType: Prefix

probes:
  startupProbe:
    initialDelaySeconds: 30
