persistence:
  config:
    size: 1Gi
    storageClass: longhorn
    mountPath: /app/config
    accessModes:
      - ReadWriteOnce

ingress:
  enabled: true
  className: nginx-internal
  hosts:
    - host: jellyseerr.sheeplet.com
      paths:
        - path: /
          pathType: Prefix

probes:
  startupProbe:
    initialDelaySeconds: 30
