persistence:
  config:
    enabled: true
    size: 1Gi
    retain: true
    accessMode: ReadWriteMany

service:
  main:
    ports:
      http:
        port: 9696

ingress:
  main:
    enabled: true
    className: nginx-internal
    hosts:
      - host: prowlarr.sheeplet.com
        paths:
          - path: /
            pathType: Prefix

# Enable metrics collection for Prometheus
serviceMonitor:
  main:
    enabled: true
    endpoints:
      - port: http
        scheme: http
        path: /metrics
        interval: 1m
        scrapeTimeout: 10s
