service:
  main:
    ports:
      http:
        port: 8080
  bittorrent:
    enabled: true
    ports:
      bittorrent:
        enabled: true
        port: 6881
        protocol: TCP

env:
  - name: PUID
    value: 1000
  - name: PGID
    value: 1000

ingress:
  main:
    enabled: true
    hosts:
      - host: qbittorrent.sheeplet.com
        paths:
          - path: /
            pathType: Prefix

persistence:
  config:
    enabled: true
    retain: true
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 1Gi

  downloads:
    enabled: true
    mountPath: /data
    storageClass: longhorn
    accessMode: ReadWriteMany
    size: 200Gi
    existingClaim: media-pvc

  shared:
    enabled: true
    type: emptyDir
    mountPath: /shared
    accessMode: ReadWriteOnce

addons:
  vpn:
    enabled: true
    type: gluetun
    gluetun:
      image:
        repository: docker.io/qmcgaw/gluetun
        tag: v3.39.1
        pullPolicy: IfNotPresent
    securityContext:
      capabilities:
        add:
          - NET_ADMIN
          - SYS_MODULE
    env:
      - name: VPN_SERVICE_PROVIDER
        value: private internet access
      - name: OPENVPN_USER
        valueFrom:
          secretKeyRef:
            name: media-secrets
            key: openvpn-user
      - name: OPENVPN_PASSWORD
        valueFrom:
          secretKeyRef:
            name: media-secrets
            key: openvpn-password
      # - name: VPN_TYPE
      #   value: wireguard
      # - name: WIREGUARD_PRIVATE_KEY
      #   valueFrom:
      #     secretKeyRef:
      #       name: media-secrets
      #       key: wireguard-private-key
      - name: VPN_PORT_FORWARDING
        value: on
      - name: PORT_FORWARD_ONLY
        value: on
      - name: VPN_PORT_FORWARDING_STATUS_FILE
        value: /shared/forwarded_port
sidecars:
  port-forward:
    image: docker.io/snoringdragon/gluetun-qbittorrent-port-manager:latest
    volumeMounts:
      - name: shared
        mountPath: /shared
        readOnly: true
    env:
      - name: QBITTORRENT_SERVER
        value: localhost
      - name: QBITTORRENT_PORT
        value: "8080"
      - name: PORT_FORWARDED
        value: /shared/forwarded_port
      - name: QBITTORRENT_USER
        valueFrom:
          secretKeyRef:
            name: media-secrets
            key: qbittorrent-username
      - name: QBITTORRENT_PASS
        valueFrom:
          secretKeyRef:
            name: media-secrets
            key: qbittorrent-password
