service:
  main:
    ports:
      http:
        port: 8080
  bittorrent:
    enabled: true
    ports:
      bittorrent:
        enabled: true
        port: 6881
        protocol: TCP

env:
  - name: PUID
    value: 1000
  - name: PGID
    value: 1000

ingress:
  main:
    enabled: true
    hosts:
      - host: qbittorrent.sheeplet.com
        paths:
          - path: /
            pathType: Prefix

persistence:
  config:
    enabled: true
    retain: true
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 1Gi

  downloads:
    enabled: true
    mountPath: /data
    storageClass: longhorn
    accessMode: ReadWriteMany
    size: 200Gi
    existingClaim: media-pvc

  gluetun-data:
    type: emptyDir
    globalMounts:
      - path: /gluetun

addons:
  vpn:
    enabled: true
    type: gluetun
    gluetun:
      image:
        repository: docker.io/qmcgaw/gluetun
        tag: v3.39.1
        pullPolicy: IfNotPresent
    securityContext:
      capabilities:
        add:
          - NET_ADMIN
          - SYS_MODULE
    env:
      - name: VPN_SERVICE_PROVIDER
        value: protonvpn
      - name: VPN_TYPE
        value: wireguard
      - name: WIREGUARD_PRIVATE_KEY
        valueFrom:
          secretKeyRef:
            name: media-secrets
            key: wireguard-private-key
      - name: VPN_PORT_FORWARDING
        value: on
      - name: PORT_FORWARD_ONLY
        value: on
      - name: VPN_PORT_FORWARDING_STATUS_FILE
        value: /gluetun/forwarded_port
sidecars:
  port-forward:
    image: docker.io/snoringdragon/gluetun-qbittorrent-port-manager
    env:
      - name: QBITTORRENT_SERVER
        value: localhost
      - name: QBITTORRENT_PORT
        value: "8080"
      - name: PORT_FILE_PATH
        value: /gluetun/forwarded_port
      - name: QBITTORRENT_USER
        valueFrom:
          secretKeyRef:
            name: media-secrets
            key: qbittorrent-username
      - name: QBITTORRENT_PASS
        valueFrom:
          secretKeyRef:
            name: media-secrets
            key: qbittorrent-password
