controllers:
  main:
    initContainers:
      fix-permissions:
        image:
          repository: busybox
          tag: latest
        command:
          - sh
          - -c
          - chown -R 1000:1000 /config
        securityContext:
          runAsUser: 0
          runAsGroup: 0

env:
  - name: PUID
    value: 1000
  - name: PGID
    value: 1000

defaultPodOptions:
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

service:
  main:
    ports:
      http:
        port: 7878

persistence:
  config:
    enabled: true
    size: 1Gi
    accessMode: ReadWriteMany
    retain: true
  media:
    enabled: true
    storageClass: longhorn
    accessMode: ReadWriteMany
    mountPath: /data
    existingClaim: media-pvc

ingress:
  main:
    enabled: true
    className: nginx-internal
    hosts:
      - host: radarr.sheeplet.com
        paths:
          - path: /
            pathType: Prefix

metrics:
  enabled: true
  serviceMonitor:
    interval: 1m
    scrapeTimeout: 10s
  exporter:
    image:
      # -- image repository
      repository: ghcr.io/onedr0p/exportarr
      # -- image tag
      tag: v2.3.0
      # -- image pull policy
      pullPolicy: IfNotPresent
    env:
      # -- metrics port
      port: 9793
      # -- Set to true to enable gathering of additional metrics (slow)
      additionalMetrics: true
      # -- Set to true to enable gathering unknown queue items
      unknownQueueItems: true
