service:
  main:
    ports:
      http:
        port: 8989

env:
  - name: PUID
    value: 1000
  - name: PGID
    value: 1000

persistence:
  config:
    enabled: true
    size: 1Gi
    accessMode: ReadWriteMany
    retain: true
  media:
    enabled: true
    storageClass: longhorn
    accessMode: ReadWriteMany
    mountPath: /data
    existingClaim: media-pvc

ingress:
  main:
    enabled: true
    className: nginx-internal
    hosts:
      - host: sonarr.sheeplet.com
        paths:
          - path: /
            pathType: Prefix

metrics:
  enabled: true
