service:
  main:
    ports:
      http:
        port: 8989

env:
  - name: PUID
    value: 1000
  - name: PGID
    value: 1000

persistence:
  config:
    enabled: true
    size: 1Gi
    retain: true
  media:
    enabled: true
    storageClass: longhorn
    accessMode: ReadWriteMany
    mountPath: /data
    existingClaim: media-pvc

ingress:
  main:
    enabled: true
    className: nginx-internal
    hosts:
      - host: sonarr.sheeplet.com
        paths:
          - path: /
            pathType: Prefix

# Enable metrics collection for Prometheus
serviceMonitor:
  main:
    enabled: true
    endpoints:
      - port: http
        scheme: http
        path: /metrics
        interval: 1m
        scrapeTimeout: 10s
